body {
    background-image: url(https://images4.alphacoders.com/100/thumb-1920-1001038.jpg);
    background-size: cover;
    color: #ac5407cc;
    font-family: Arial, Helvetica, sans-serif;

}

main#container {
    background-color:#bbf2ed70;
    border-radius: 31px;
    box-shadow: -10px -10px 10px 0 #BBF2ED ;
}

h1.titulo:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00ffff67;
    color: #ac5407cc;
    text-shadow: -2px -2px 0 #00ffff67;

}

p.frase {
    font-family: Arial;
    font-size: 20px;
    color: #ac5407cc;
}

p.autor {
    margin-right: 30px;
    text-decoration: underline;
    color: #ac5407cc;
    font-weight: 700;
}